<%- include('partials/header') %>
<link rel="stylesheet" href="/css/homepage.css">

<div class="container col-md-8">
    <h1 class="text-center">Admin Panel 🔑</h1>
    <div class="col text-center">
        <div class="p-3 d-flex justify-content-center">
            <!-- Users -->
            <div class="col-md-7 card">
                <div class="card-body">
                    <div class="card-title">
                        <h3><i class="float-start ps-2  fa-solid fa-users"></i> Manage Users</h3>
                    </div>
                    <hr>
                    <button class="btn btn-secondary card-text">Show Users</button>
                </div>
            </div>
        </div>
        <!-- Albums -->
        <div class="p-3 d-flex justify-content-center">
            <div class="col-md-7 card">
                <div class="card-body text-center">
                    <div class="card-title">
                        <h3><i class="float-start ps-2  fa-solid fa-record-vinyl"></i> Manage Albums</h3>
                    </div>
                    <hr>
                    <button class="btn btn-secondary card-text">Add a new album</button>
                </div>
            </div>
        </div>
        <!-- Orders -->
        <div class="p-3 d-flex justify-content-center">
            <div class="col-md-7 card">
                <div class="card-body text-center">
                    <div class="card-title">
                        <h3><i class="float-start ps-2  fa-solid fa-truck-fast"></i> Manage Orders</h3>
                    </div>
                    <hr>
                    <button class="btn btn-secondary card-text">Show Orders</button>
                </div>
            </div>
        </div>
        <!-- Stats -->
        <div class="p-3 d-flex justify-content-center">
            <div class="col-md-7 card">
                <div class="card-body text-center">
                    <div class="card-title">
                        <h3><i class="float-start ps-2 fa-solid fa-chart-line"></i> Statistics</h3>
                    </div>
                    <hr>
                    <button class="btn btn-secondary card-text">Orders per time graph</button>
                    <button class="btn btn-secondary card-text">Sellings graph</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<%- include('partials/footer') %>