<%- include('partials/header') %>
<link rel="stylesheet" href="/css/homepage.css">

<div class="container col-md-8">
    <h1 class="text-center">Admin Panel 🔑</h1>
    <div class="col text-center">
        <div class="p-3 d-flex justify-content-center">
            <!-- Users -->
            <div class="col-md-7 card">
                <div class="card-body">
                    <div class="card-title">
                        <h4><i class="float-start ps-2  fa-solid fa-users"></i> Manage Users</h4>
                    </div>
                    <hr>
                    <a href="/admin/users" class="btn btn-secondary card-text">Show Users</a>
                </div>
            </div>
        </div>
        <!-- Albums -->
        <div class="p-3 d-flex justify-content-center">
            <div class="col-md-7 card">
                <div class="card-body text-center">
                    <div class="card-title">
                        <h4><i class="float-start ps-2  fa-solid fa-record-vinyl"></i> Manage Albums</h4>
                    </div>
                    <hr>
                    <a href="/admin/add-album" class="btn btn-secondary card-text">Add a new album</a>
                </div>
            </div>
        </div>
        <!-- Orders -->
        <div class="p-3 d-flex justify-content-center">
            <div class="col-md-7 card">
                <div class="card-body text-center">
                    <div class="card-title">
                        <h4><i class="float-start ps-2  fa-solid fa-truck-fast"></i> Manage Orders</h4>
                    </div>
                    <hr>
                    <a href="/admin/orders" class="btn btn-secondary card-text">Show Orders</a>
                </div>
            </div>
        </div>
        <!-- Stats -->
        <div class="p-3 d-flex justify-content-center">
            <div class="col-md-7 card">
                <div class="card-body text-center">
                    <div class="card-title">
                        <h4><i class="float-start ps-2 fa-solid fa-chart-line"></i>Statistics</h4>
                    </div>
                    <hr>
                    <a id="stats-button" href="/admin/stats" class="btn btn-secondary card-text">View
                        Statistics</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- <script src="../js/admin.js"></script> -->
<%- include('partials/footer') %>