<%- include('partials/header') %>
    <div class="container">
        <% if (username) { %>
            <p>Welcome, <%= username %>!</p>
            <% } else { %>
                <p>Welcome!</p>
                <% } %>
    </div>
    <%- include('partials/footer') %>