<%- include('partials/header') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/map.css">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script type="module" src="/js/maps.js"></script>

<section>
    <div class="split-container">
        <div class="split-left">
            <h1>The Happy Record</h1>
            <h3>A Melodic Haven for Music Lovers</h3>
            <p class="major">Discover, Collect, and Immerse Yourself in the Rhythms 🎶</p>
            <ul class="list">
                <li>Explore a vast music collection: Find your groove among diverse genres and eras</li>
                <li>Build your dream collection and create your own library
                </li>
                <li>Stay in tune with the latest: Get updates on new releases, limited editions, and exclusive
                </li>
            </ul>
            <div>
                <% if (!authenticated) { %>
                <a class="btn btn-outline-primary" href="/login">LOGIN NOW</a>
                <% }; %>
                <a class="btn btn-outline-secondary" href="/albums">BROWSE ALBUMS</a>
            </div>
            <br>
            <br>
            <br>
            <small>Check out our branches world wide 🌏</small>
            <!-- Google Maps -->
            <div id="map"></div>
            <br>

        </div>
        <div class="split-right">
            <img class="split-image" src="img/producer.jpg">
        </div>
        <% if (locals.message) { %>
        <script>Swal.fire({ icon: 'info', text: "<%- locals.message %>", position: 'top-end', timer: 2500 });</script>
        <% } %>
    </div>
</section>

<!-- prettier-ignore -->
<script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
        ({ key: "AIzaSyArVwjMfc2xgw8O8JaC7zRye3SfsKS22QA", v: "beta" });</script>
<%- include('partials/footer') %>