<%- include('partials/header') %>
<link rel="stylesheet" href="/css/homepage.css">
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/he/he.js"></script>

<div class="container col-md-8 text-center">
    <h1>Statistics</h1>

    <div class="p-3 d-flex justify-content-center">
        <div class="card">

            <h3 class="card-title p-2">Sellings Graph</h3>
            <hr>
            <div class="card-body" id="sales-graph"></div>
        </div>
    </div>
    <div class="p-3 d-flex justify-content-center">
        <div class="card">

            <h3 class="card-title p-2">Orders Graph</h3>
            <hr>
            <div class="card-body" id="orders-graph"></div>
        </div>
    </div>
</div>
<br>
<br>
<br>
</div>
<script>
    const data = JSON.parse(he.decode('<%= JSON.stringify(data) %>'));
</script>
<script src="../../js/stats.js"></script>
<%- include('partials/footer') %>