<%- include('partials/header') %>
<link rel="stylesheet" href="/css/unauthorized.css">
<div class="container unauth-message">
    <h1>Whoops... 😴</h1>
    <h3>Please login to access this resource</h3>
</div>
<%- include('partials/footer') %>