<%- include('partials/header') %>
<link rel="stylesheet" href="/css/unauthorized.css">
<div class="container unauth-message">
    <h1>Whoops... 😴</h1>
    <h3>You don't have the access rights to this resource</h3>
    <p>Consider logging in or changing your user</p>
</div>
<%- include('partials/footer') %>