.album-card {
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  background-color: #ffffff65;
  width: 250px;
}

.album-card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  object-fit: contain;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.card-text {
  font-size: 14px;
  color: #666666;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white);
}

.btn-primary:hover {
  background-color: #7d0ae8;
  border-color: #7d0ae8;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .card {
    margin-bottom: 20px;
  }
}